In [1]:
print('Hello')

Hello

In [3]:
print("Hello \
        python")

Hello         python

In [8]:
print("""python's world""")

python's world

In [11]:
print("Hello\nPython")

Hello\Python

In [10]:
print('Hello\'s python')

Hello's python

In [14]:
name="xyz"
mark=90.2
age=20
print("The name of the person is ",name,"marks is",mark,"age is ",age)

The name of the person is  xyz marks is 90 age is  20

In [23]:
name="xyz"
mark=90.2
age=20
print("The name of the person is %10s and marks is %10.2f and age is %d"%(name,mark, age))

The name of the person is        xyz and marks is      90.20 and age is 20

In [25]:
name="xyz"
mark=90.2
age=20
print(f"The name of the person is {name} and marks is {mark} and age is {age}")

The name of the person is xyz and marks is 90.2 and age is 20

In [26]:
10<9 and 20<M

False

In [28]:
10>9 or 20<m

True

In [31]:
a=10
print(a)

10

In [33]:
a=b=c=10
print(a+b+c)

30

In [1]:
a=10
print(id(a))

140721742324400

In [2]:
b=10
print(id(b))

140721742324400

In [3]:
print(a==b)

True

In [4]:
print(a is b)

True

In [5]:
a=3000
b=3000
print(a is b)

False

In [6]:
s="anbfvheenui"
print('a'in s)

True

In [8]:
a=10
print(a**2)

100